<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add movie</title>
</head>
<body>
    <form action="/" method="POST">
      <p>Add movie to database</p>
          <input type="text" name="imdb"></input>imdb id<br />
          <input type="text" name="title"></input>title<br />
          <input type="text" name="year"></input>year<br />
      <input type="submit" value="Submit" />
      </form>
</body>
</html>